---
import AboutHeroImage from '../assets/image.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Información personal"
	description="Mauricio Solis Vilchis"
	pubDate={new Date('Noviembre 17 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Hola....
	</p>

	<p>
		Mi nombre es Mauricio Solis Vilchis, nací el 5 de diciembre en Mina Vieja, Villa Victoria. 
		Desde pequeño siempre me ha caracterizado la curiosidad y las ganas de aprender, 
		cualidades que han influido en cada etapa de mi vida.
	</p>

	<p>
		Crecí en una familia que me enseñó valores como la responsabilidad, el respeto y el trabajo en equipo. 
		Mis primeros años escolares los cursé en la Escuela Primaria Benito Juarez, donde descubrí mi interés 
		por las matemáticas. Este gusto me motivó a seguir desarrollándome en diferentes áreas, siempre buscando 
		mejorar y aprender algo nuevo.
	</p>
		
	<p>
		Durante mi adolescencia, participé en concursos de ajedrez, experiencias que me ayudaron a fortalecer 
		mis habilidades sociales, mi disciplina y mi capacidad para enfrentar desafíos. Fue en esta etapa cuando 
		descubrí mi interés por el uso de las tecnologías, lo cual influyó en la elección de mi camino académico.
	</p>

	<p>
		Al concluir mis estudios de nivel medio superior, decidí continuar mi formación profesional en la Universidad 
		Mexiquense del Bicentenario, en la carrera de Ingenieria en Sistemas Computacionales. A lo largo de mis estudios 
		universitarios, he tenido la oportunidad de participar en proyectos y prácticas, los cuales han enriquecido mi 
		manera de ver el mundo y me han enseñado la importancia de la perseverancia.
	</p>

	<p>
		Actualmente, me encuentro enfocado en seguir creciendo tanto personal como profesionalmente. 
		Mi objetivo es culminar mi carrera universitacio y trabajar en alguna empresa, y estoy comprometido 
		a seguir preparándome para alcanzar todas mis metas.
	</p>

	<p>
		Me considero una persona responsable, creativa, perseverante, empática, respetuosa, 
		y creo firmemente que cada experiencia, buena o mala, contribuye a formarnos como seres humanos. 
		Mi historia continúa, y estoy listo para los nuevos retos que la vida me presente.
	</p>

</Layout>
